.nannies {


    padding-top: 64px;

}

.filters {
    margin-bottom: 32px;
}

.filtTitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    color: var(--text-sub);
    margin-bottom: 8px;
}

.filtSelect {
    width: 100%;
    max-width: 240px;
}